google-cloud-aiplatform==1.43.0
google-cloud-storage==2.15.0
google-cloud-documentai==2.20.0
google-api-python-client==1.7.11
google-cloud-bigquery==3.19.0
firebase-admin==6.3.0
vertexai==0.0.1
streamlit==1.30.0
protobuf~=3.20.0
python-dotenv==1.0.0
langchain==0.1.11
langchain-google-vertexai==0.1.0
db-dtypes==1.2.0
bigquery==0.0.41

# Workspace App
google-auth-httplib2==0.0.3
google-auth-oauthlib==1.2.0

notion==0.0.28
PyPDF2==3.0.1

