google-cloud-aiplatform==1.38.1
google-cloud-storage==2.13.0
google-cloud-documentai==2.20.0
google-api-python-client==2.110.0
google-cloud-bigquery==3.13.0
firebase-admin==6.3.0
vertexai==0.0.1
langchain==0.1.0
streamlit==1.29.0
protobuf~=3.20.0
python-dotenv==1.0.0

# Workspace App
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

notion
PyPDF2 
